<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Valostore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='storepage.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="valostoreLogo">
        <img src="../resources/valostore.gif" style="max-width:50%; max-height:50%;">
    </div>

    <div class="formContainer" id="formContainer">
        <div class="loginform" id="login">
            <img src="../resources/1.gif" style="max-width:50%; max-height:50%; padding: 1em;">
            <label> Username </label>
            <input type="text" id="username">
            <label> Password </label>
            <input type="password" id="password">
            <button onclick="getItems()" style="margin-top: 4px;">Login</button>
        </div>
        <div class="divider"></div>
        <div class="about">
            <h1> About </h1>
            <p> Welcome to the <span style="color:#d14141">Valorant store checker</span> for lazy stupid people made by lazy stupid people! Are you tired of constantly checking the Valorant store to see if your favorite skins are available? Well, you're in luck! This site does all the work for you, so you can spend more time doing important things, like actually learn to play the game. </p>

            <p> I know that the site looks shady but ISTG it's just because I'm a shitty programmer!</p>
                
                The source code is transparently viewable on <a href="https://github.com/Amoxil">Github</a>, the credentials are directly sent to Valorant public API and no password is stored.
                

        </div>
    </div>

    <img src="../resources/io.png" class="logo">

    <script src="storepage.js"></script>

</body>
</html>