<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Valostore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='storepage.css')}}">
    <script src='main.js'></script>
</head>
<body>
    <div class="valostoreLogo">
        <img src="{{ url_for('static', filename='/resources/valostore.gif')}}" id='valostoreLogo'>
    </div>

    <div class="formContainer fadeIn" id="formContainer" >
        <div class="loginform" id="login">
            <div class="regionSelector">
                <div class="regionContainer">
                    <div>
                        <p> Eu </p>
                        <img onclick="selectRegion(this)" class='region' id="eu" src="{{ url_for('static', filename='/resources/1.gif')}}" style = "display: inline-block; background-color: #444444;padding: 5px;border-radius: 20%; border: 2px solid #333;">
                    </div>
                    <div>
                        <p> Na </p>
                        <img onclick="selectRegion(this)" class='region' id="na" src="{{ url_for('static', filename='/resources/2deselected.png')}}">
                    </div>
                </div>
            </div>
            
            
            <form method="post" onsubmit="getItems(); return false">
                <label> Username </label>
                <input type="text" id="username">
                <label> Password </label>
                <input type="password" id="password">
                <input type="submit" value="Login" style="margin-top: 4px;" id="submitButton">
            </form>
            <label id="err" style="margin-top: 10px; color:red; font-weight: bold"></label>
            
        </div>
        
        <div class="divider"></div>
        <div class="about">
            <h1> About </h1>
            <p> Welcome to the <span style="color:#d14141">Valorant store checker</span> for lazy stupid people made by lazy stupid people! Are you tired of constantly checking the Valorant store to see if your favorite skins are available? Well, you're in luck! This site does all the work for you, so you can spend more time doing important things, like actually learn to play the game. </p>

            <p> I know that the site looks shady but ISTG it's just because I'm a shitty programmer!</p>
                
                The source code is transparently viewable on <a href="https://github.com/Amoxil">Github</a>, the credentials are directly sent to Valorant public API and no password is stored.
                

        </div>
    </div>

    <script>
        const APILINK = 'https://valostore-production.up.railway.app/items';

        regionSelected = 'eu';

        async function getItems(){
            
            const submitBtn = document.getElementById("submitButton")
            submitBtn.disabled = true
            submitBtn.value = 'Loading...'

            const response = await fetch(APILINK,
                {
                    method: "POST",
                    body: JSON.stringify({
                        'username' : document.getElementById("username").value,
                        'password' : document.getElementById("password").value,
                        'region' : regionSelected,
                    })
                }
                )

            if(!response.ok){
                err = await response.json()
                if(err === "credError"){
                    username = document.getElementById("username")
                    password = document.getElementById("password")
                    username.style = "border:2px solid red"
                    password.style = "border:2px solid red"
                    document.getElementById("err").innerHTML = "Wrong credentials"
                }
                else{
                    document.getElementById("err").innerHTML = "2FA not supported"
                }
                submitBtn.disabled = false
                submitBtn.value = 'Login'
            }else{
                skins = await response.json()
                loadShop(skins)
            }
            
        
            
        }

        function selectRegion(region){
            if(region.id === 'eu'){
                region.src = "{{ url_for('static', filename='/resources/1.gif')}}"
                region.style = "display: inline-block; background-color: #444444;padding: 5px;border-radius: 20%; border: 2px solid #333;"
                var deselectedRegion = document.getElementById('na');
                deselectedRegion.src = "{{ url_for('static', filename='/resources/2deselected.png')}}"
                deselectedRegion.style = "border:none"
                regionSelected = region.id
            }else{
                region.src="{{ url_for('static', filename='/resources/2.gif')}}"
                region.style = "display: inline-block; background-color: #444444;padding: 5px;border-radius: 20%; border: 2px solid #333;"
                var deselectedRegion = document.getElementById('eu');
                deselectedRegion.src = "{{ url_for('static', filename='/resources/1deselected.png')}}"
                deselectedRegion.style = "border:none"
                regionSelected = region.id
            }


        }

        function loadShop(skins){
            formContainer = document.getElementById("formContainer");
            formContainer.classList.remove('fadeIn')
            formContainer.classList.add('fadeOut')

            const shopContainer = document.createElement('div');

            shopContainer.className='shopContainer'
        
            skins.forEach((skin) => {
                const imageWrapper = document.createElement('div');
                imageWrapper.className = 'imageWrapper'
                const card = document.createElement('div');
                card.className = 'card'
                const img = document.createElement('img')
                if(skin['displayIcon'] === null){
                    img.src = skin['chromas'][0].displayIcon;
                }else{
                    img.src = skin['displayIcon'];
                }
                const skinName = document.createElement('div');
                skinName.className = 'skinName';
                skinName.textContent = skin['displayName'] + " " +skin['price'];
                imageWrapper.appendChild(img)
                card.appendChild(imageWrapper)
                card.appendChild(skinName)
                shopContainer.appendChild(card)
            });
            document.body.appendChild(shopContainer);
        }




    </script>

</body>
</html>